body {
  padding: 1em;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-item-form {
  display: flex;
  justify-content: space-evenly;
}

.item-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}